<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Memory Game</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="./dist/style/main.min.css" />
</head>
<body>
  <div id="app">
    <div class="game-box">
      <div class="info-box">
        <div class="title">Memory Game</div>
        <div class="level">level 0{{level}}</div>
        <div class="score">score {{score}}</div>
      </div>
      <div class="playground">
        <ul class="card-box">
          <li class="card-item"
              v-for="(card, index) in answerCardList"
              :class="{ selected: card.isSelected }">
            <div class="card-font" @click="pickCardUp(index)"></div>
            <div v-if="isPlayingMode"
                class="card-back"
                :style="{ backgroundImage: `url('/img/cards-back/${card.url}')`}"></div>
          </li>
        </ul>
      </div>
      <div class="activated-btn"
           @click="startGame"
           v-if="!isStartGame">Start</div>
    </div>
    <div v-if="isUserInactive"
         class="alert-box"
         :class="{ paused: isUserInactive }">
      <div class="alert-icon"></div>
    </div>
  </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
<script src="main.js"></script>
</html>