<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Memory Game</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div id="app">
    <div class="congratulations-box"
         v-if="isFinishAllLevel">
      <div class="congratulations-content">
          <div class="title">🙌 Congratulations on clearance! ✨</div>
          <div class="score">your score : {{displayScore}}</div>
          <div class="button-item"
               @click="triggerGame">Replay</div>
      </div>
    </div>
    <div class="game-box">
      <div class="info-box">
        <div class="title">Memory Game</div>
        <div class="level">level {{displayLevel}}</div>
        <div class="score">score {{displayScore}}</div>
      </div>
      <div class="playground">
        <ul class="card-box">
          <li class="card-item"
              v-for="(card, index) in answerCardList"
              :class="{ selected: card.isSelected }"
              @click="pickCardUp(index)">
              <div class="card-font"></div>
              <div class="card-back"
                   :style="{ backgroundImage: `url(@/images/cards-back/${card.url})`}"></div>
          </li>
        </ul>
      </div>
      <div class="button-box">
        <div class="button-item"
             @click="triggerGame">{{displayNameOfButton}}</div>
      </div>
      <div class="notification"
           v-for="notification in notifications">{{notification}}</div>
    </div>
  </div>
</body>
</html>