@import url("https://fonts.googleapis.com/css?family=Amaranth:400,400i,700,700i");
ul {
  list-style: none;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
}

#app {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.game-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 600px;
  height: auto;
}

.game-box .info-box {
  font-family: "Amaranth", sans-serif;
  color: #444a54;
  text-align: center;
}

.game-box .info-box .title {
  font-size: 50px;
  margin-bottom: 20px;
}

.game-box .info-box .score, .game-box .info-box .level {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #67707e;
}

.game-box .playground .card-box {
  width: 500px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px auto 30px;
}

.game-box .playground .card-back {
  width: 100px;
  height: 150px;
  position: relative;
  margin: 10px;
  background-image: url("/img/cards-front.png");
  -webkit-box-shadow: 2px 2px 15px rgba(57, 62, 70, 0.5);
          box-shadow: 2px 2px 15px rgba(57, 62, 70, 0.5);
  border-radius: 4px;
  cursor: pointer;
  font-size: 10px;
}

.game-box .playground .card-back.selected {
  visibility: hidden;
  -webkit-transition: .8;
  transition: .8;
}

.game-box .playground .card-back.selected > .card-font {
  top: 2px;
  -webkit-box-shadow: 2px 2px 15px rgba(57, 62, 70, 0.5);
          box-shadow: 2px 2px 15px rgba(57, 62, 70, 0.5);
  visibility: visible;
}

.game-box .playground .card-back.selected span {
  visibility: visible;
  position: absolute;
}

.game-box .playground .card-font {
  width: 100%;
  height: 100%;
  background-size: 45%;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #cccccc;
  border-radius: 4px;
  visibility: hidden;
}

.game-box .button-box {
  width: 400px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: auto;
}

.game-box .button-item {
  width: 150px;
  height: auto;
  font-family: "Amaranth", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 5px;
  line-height: 28px;
  color: rgba(57, 62, 70, 0.9);
  border: 1px solid #67707e;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.game-box .button-item:hover {
  color: #ffffff;
  background-color: rgba(57, 62, 70, 0.5);
}

.game-box .button-item:active {
  background-color: rgba(57, 62, 70, 0.9);
  -webkit-box-shadow: 5px 5px 30px rgba(57, 62, 70, 0.5);
          box-shadow: 5px 5px 30px rgba(57, 62, 70, 0.5);
}
