@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,900");
ul {
  list-style: none;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
}

#app {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.game-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
}

.game-box .info-box {
  font-family: "Raleway", sans-serif;
  color: #3a3f47;
  margin: auto;
  text-align: center;
}

.game-box .info-box .title {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 10px;
}

.game-box .info-box .score, .game-box .info-box .level {
  font-size: 20px;
  font-weight: 300;
}

.game-box .playground .card-box {
  width: 520px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px auto 40px;
}

.game-box .playground .card-back {
  width: 100px;
  height: 150px;
  position: relative;
  margin: 10px;
  background-image: url("/img/cards-front.png");
  -webkit-box-shadow: 2px 2px 15px rgba(57, 62, 70, 0.5);
          box-shadow: 2px 2px 15px rgba(57, 62, 70, 0.5);
  border-radius: 4px;
  cursor: pointer;
  font-size: 10px;
}

.game-box .playground .card-back.selected {
  visibility: hidden;
  -webkit-transition: .8;
  transition: .8;
}

.game-box .playground .card-back.selected > .card-font {
  top: 2px;
  -webkit-box-shadow: 2px 2px 15px rgba(57, 62, 70, 0.5);
          box-shadow: 2px 2px 15px rgba(57, 62, 70, 0.5);
  visibility: visible;
}

.game-box .playground .card-back.selected span {
  visibility: visible;
  position: absolute;
}

.game-box .playground .card-font {
  width: 100%;
  height: 100%;
  background-size: 45%;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #cccccc;
  border-radius: 4px;
  visibility: hidden;
}

.game-box .button-box {
  width: 400px;
  height: auto;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row norwrap;
          flex-flow: row norwrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.game-box .button-item {
  width: 150px;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto 40px;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  line-height: 23px;
  border: 1px solid #67707e;
  border-radius: 20px;
  cursor: pointer;
}
