@import url(https://fonts.googleapis.com/css?family=Amaranth:400,400i,700,700i);
.game-box .playground .card-font, .game-box .playground .card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: .5s;
  transition: .5s;
  border-radius: 4px;
  -webkit-box-shadow: 2px 2px 15px rgba(55, 54, 64, 0.5);
          box-shadow: 2px 2px 15px rgba(55, 54, 64, 0.5); }

@-webkit-keyframes notifyIn {
  0% {
    top: 100%;
    opacity: 1; }
  100% {
    top: 0%;
    opacity: 0; } }

@keyframes notifyIn {
  0% {
    top: 100%;
    opacity: 1; }
  100% {
    top: 0%;
    opacity: 0; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

ul {
  list-style: none;
  padding: 0; }

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #ffffff; }

#app {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden; }

.game-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 600px;
  height: auto; }
  @media screen and (max-width: 600px) {
    .game-box {
      width: 100vw;
      height: auto; } }
  .game-box .info-box {
    font-family: "Amaranth", sans-serif;
    color: #43424e;
    text-align: center; }
    .game-box .info-box .title {
      font-size: 36px;
      margin-bottom: 1vh; }
      @media screen and (max-width: 900px) {
        .game-box .info-box .title {
          font-size: 32px; } }
      @media screen and (max-width: 600px) {
        .game-box .info-box .title {
          font-size: 24px; } }
    .game-box .info-box .score, .game-box .info-box .level {
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: #676577; }
      @media screen and (max-width: 900px) {
        .game-box .info-box .score, .game-box .info-box .level {
          font-size: 14px; } }
      @media screen and (max-width: 600px) {
        .game-box .info-box .score, .game-box .info-box .level {
          font-size: 10px; } }
  .game-box .playground .card-box {
    width: 500px;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 20px auto 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    @media screen and (max-width: 1200px) {
      .game-box .playground .card-box {
        width: 450px;
        height: auto; } }
    @media screen and (max-width: 600px) {
      .game-box .playground .card-box {
        width: 80vw;
        height: auto;
        max-width: 300px;
        margin: 10px auto; } }
  .game-box .playground .card-item {
    width: 100px;
    height: 150px;
    position: relative;
    margin: 10px;
    border-radius: 4px;
    -webkit-transition: .5s;
    transition: .5s;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    cursor: pointer; }
    @media screen and (max-width: 1200px) {
      .game-box .playground .card-item {
        width: 80px;
        height: 120px; } }
    @media screen and (max-width: 600px) {
      .game-box .playground .card-item {
        width: 60px;
        height: 90px;
        margin: 5px; } }
    .game-box .playground .card-item.selected > .card-font {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg); }
    .game-box .playground .card-item.selected > .card-back {
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg); }
  .game-box .playground .card-font {
    background-image: url(images/cards-front.png); }
  .game-box .playground .card-back {
    background-size: 45%;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg); }

.button-box {
  width: 400px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: auto; }
  @media screen and (max-width: 600px) {
    .button-box {
      width: 100vw;
      height: auto;
      margin-top: 2vmax;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.button-item {
  width: 10vmax;
  height: auto;
  font-size: 14px;
  font-family: "Amaranth", sans-serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 5px;
  line-height: 28px;
  border: 1px solid #676577;
  border-radius: 20px;
  color: rgba(55, 54, 64, 0.9);
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s; }
  @media screen and (max-width: 900px) {
    .button-item {
      font-size: 10px; } }
  @media screen and (max-width: 600px) {
    .button-item {
      letter-spacing: 1px;
      line-height: 30px; } }
  .button-item:hover {
    color: #ffffff;
    background-color: rgba(55, 54, 64, 0.5);
    border: 1px solid #b6b5c0; }
  .button-item:active {
    background-color: rgba(55, 54, 64, 0.9);
    -webkit-box-shadow: 5px 5px 30px rgba(55, 54, 64, 0.5);
            box-shadow: 5px 5px 30px rgba(55, 54, 64, 0.5); }

.notification-box {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  right: 0; }
  @media screen and (max-width: 900px) {
    .notification-box {
      width: 10vw;
      height: 10vw;
      top: 1vw;
      right: 10vw; } }
  @media screen and (max-width: 600px) {
    .notification-box {
      width: 15vmin;
      height: 15vmin; } }

.notification-item {
  font-size: 20px;
  position: absolute;
  top: 100%;
  right: 2px;
  font-family: "Amaranth", sans-serif;
  letter-spacing: 4px;
  opacity: 0;
  color: #ddab3e;
  -webkit-animation: notifyIn 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) backwards;
          animation: notifyIn 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) backwards; }
  @media screen and (max-width: 900px) {
    .notification-item {
      font-size: 14px; } }
  @media screen and (max-width: 600px) {
    .notification-item {
      font-size: 10px; } }
  .notification-item:before {
    font-size: 24px;
    content: "+";
    position: relative;
    top: 1px; }
    @media screen and (max-width: 900px) {
      .notification-item:before {
        font-size: 20px; } }
    @media screen and (max-width: 600px) {
      .notification-item:before {
        font-size: 14px; } }

.congratulations-box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(55, 54, 64, 0.1);
  z-index: 1; }

.congratulations-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 400px;
  height: 200px;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: "Amaranth", sans-serif;
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: 5px 10px 30px 5px rgba(55, 54, 64, 0.3);
          box-shadow: 5px 10px 30px 5px rgba(55, 54, 64, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px;
  -webkit-transition: opacity .4s;
  transition: opacity .4s;
  -webkit-animation: fadeIn 1.6s;
          animation: fadeIn 1.6s; }
  @media screen and (max-width: 900px) {
    .congratulations-content {
      font-size: 14px; } }
  @media screen and (max-width: 600px) {
    .congratulations-content {
      font-size: 10px; } }
  @media screen and (max-width: 600px) {
    .congratulations-content {
      width: 80vw;
      height: 150px;
      max-width: 300px; } }
  .congratulations-content .title {
    font-size: 20px;
    text-shadow: 0 0 2px rgba(55, 54, 64, 0.1);
    font-weight: 400; }
    @media screen and (max-width: 900px) {
      .congratulations-content .title {
        font-size: 14px; } }
    @media screen and (max-width: 600px) {
      .congratulations-content .title {
        font-size: 10px; } }
  .congratulations-content .score {
    font-size: 14px;
    font-family: "Amaranth", sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase; }
    @media screen and (max-width: 900px) {
      .congratulations-content .score {
        font-size: 10px; } }
  .congratulations-content .button-item {
    width: 100px;
    height: auto;
    font-size: 14px;
    margin: 0;
    -ms-flex-item-align: center;
        align-self: center;
    line-height: 22px;
    letter-spacing: 2px; }
    @media screen and (max-width: 900px) {
      .congratulations-content .button-item {
        font-size: 10px; } }

